/*-- scss:defaults --*/
$code-block-padding-left: 0.0em;


$link-color: #546e7a;
$font-family-sans-serif: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
$font-family-monospace: "Roboto Mono";
$navbar-bg: #546e7a;
$headings-font-weight: 300;
